*{
    padding: 0;
    margin: 0;
    --bs-dark: #343a40;
}
body{
    background-color: lightgray;
}
.cardBody{
    background-color: white;
    padding: 20px;
}
#brand{
    display: flex;
    justify-content: end;
}

.subDetail{
    padding-bottom: 10px;
}